{% extends 'base.html' %}

{% block title %}
Öl
{% endblock %}

{% block css %}
    <link href="{{ url_for('static', filename='css/beer.css') }}" rel="stylesheet">
{% endblock %}

{% macro render_beer(beer) %}
<a class="beer-card d-flex flex-column justify-content-start p-3 m-3" href="{{ url_for('get_beer', beer_name=beer.name) }}">

        <div class="card-title">
            <h3 class="card-title fw-bold fs-2">
                {{ beer.name }}
            </h3>
            <hr>
        </div>

        <div class="">
            <div class="d-flex align-items-center mb-3">
                <i class="me-2 fa-solid fa-star"></i>
                <p class="fs-5 p-0 m-0 fw-light">{{ beer.score }}/10</p>
            </div>
            <div class="d-flex align-items-center mb-3">
                <i class="me-2 fa-solid fa-beer-mug-empty"></i>
                <p class="fs-5 p-0 m-0 fw-light">{{ beer.type }}</p>
            </div>
            <div class="d-flex align-items-center mb-3">
                <i class="me-2 fa-solid fa-location-pin"></i>
                <p class="fs-5 p-0 m-0 fw-light">{{ beer.country }}</p>
            </div>
        </div>


    <img class="img-fluid rounded-2" 
        {% if beer.image %}
            src="{{ beer.image }}" 
        {% else %}
            src="{{ url_for('static', filename='images/beer.jpg') }}" 
        {% endif %}
        alt="Beer image">
    <!--<img class="card-image img-fluid" src="{{ url_for('static', filename='images/logo.png') }}" alt="Image"> -->
</a>
{% endmacro %}

{% block content %}

    <div class="d-flex flex-xl-row flex-column fg-primary font-text">

        <div class="beer-side-panel d-flex justify-content-start ps-5 pe-5 mt-3 flex-column">
            <h3 class="fs-2 mb-0">Ölsorter</h3>
            <hr class="shadow">

            {% for beer in types %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ beer.beer_type }}"
                           id="{{ beer.beer_type }}" onclick="filter_beer_type('{{ beer.beer_type }}', '{{ beer.active }}')"
                           {% if beer.active %} checked {% endif %}>
                    <label class="form-check-label text-nowrap" for="{{ beer.beer_type }}1">
                        {{ beer.beer_type }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="container-fluid mt-3 ps-5 pe-5">

            <!-- Top three beers -->
            {% if top_three_beers %}
                <div class="row text-center mt-0 pt-0 mb-3">
                    <h3 class="fs-2">Hetaste 3 öl just nu!</h3>
                </div>
                <div class="d-flex flex-wrap  mb-5 justify-content-center">
                    {% for beer in top_three_beers %}
                        {{ render_beer(beer) }}
                    {% endfor %}
                </div>
                <div class="row text-center mb-3">
                    <h3 class="fs-2">All öl</h3>
                </div>
            {% endif %}
            <!----------------------->

            <div class="d-flex flex-wrap mt-0 pt-0 justify-content-center">
                {% for beer in beers %}
                    {{ render_beer(beer) }}
                {% endfor %}
            </div>

        </div>

    </div>


{% endblock %}

{% block js %}

<script>
    const BEER_URL = "{{ url_for('get_beers') }}";

    function filter_beer_type(beer_type, is_checked) {
        let endpoint = BEER_URL;

        // If we've already checked and press the button again, we remove
        // the filter.
        if (is_checked.toLowerCase() == 'false') {
            endpoint += `?beer_type=${beer_type}`;
        }
        location.href = endpoint;
    }

</script>

{% endblock %}

