{% extends 'base.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/beer.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
Beer - {{ beer.name }}
{% endblock %}

{% block content %}

<div class="row beer font-text fg-primary mt-5">
    <div class="offset-3 col-6">
        <h1 class="fs-1 fw-bold">{{ beer.name }}</h1>
        <hr>

        <div class="d-flex beer-body flex-column justify-content-start">

            <div class="beer-info mt-3 mb-5 d-flex flew-row justify-content-between">

                <div class="d-flex flex-column">
                    <p class="fs-3 fw-light">Land: <span class="ms-2 fs-3 fw-normal">{{ beer.country }}</span> </p>
                    <p class="fs-3 fw-light">Sort: <span class="ms-2 fs-3 fw-normal">{{ beer.type }}</span> </p>
                    <p class="fs-3 fw-light">År: <span class="ms-2 fs-3 fw-normal">{{ beer.year }}</span> </p>
                    <p class="fs-3 fw-light">Bryggeri: <span class="ms-2 fs-3 fw-normal">{{ beer.brewery }}</span> </p>
                    <p class="fs-3 fw-light">Poäng: <span class="ms-2 fs-3 fw-normal">{{ beer.score }}</span> / 10 </p>
                </div>

                <img class="beer-image rounded-1" src="{{ url_for('static', filename='images/beer.jpg') }}" alt="Beer image">

            </div>

            <div class="">
                <p class="fs-3 fw-light">{{ beer.description }}</p>
            </div>

        </div>


    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}

