@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* Boostrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@font-face { font-family: font-kings; src: url('/static/fonts/Kingthings_Calligraphica_Light.ttf'); } 


:root {
    --bg-primary: #fad14b;
    --bg-primary2: #ffe5ad;
    --bg-primary3: #fcf2dc;
    --fg-primary: #2F4858;
    --fg-primary-shade: #496677;
    --fg-primary-dark: #0d3249;
    --fg-primary-dark-shade: #18415a;
    --font-main: font-kings;
    --font-text: 'EB Garamond', serif;
}

/* --- Colors --- */
.color-primary-bg {
    background-color: var(--bg-primary);
}

.color-primary-fg {
    color: #729DFC !important;
}

body {
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    /*font-family: 'EB Garamond', serif;*/
    font-family: var(--font-main);
    font-size: 1.5em;
    color: #01b19c;
}

.fg-primary {
    color: var(--fg-primary);
}

.font-text {
    font-family: var(--font-text);
}

.font-main {
    font-family: var(--font-main);
}

.text-normal {
    color: #01a592 !important;
    font-family: var(--font-text);
}

.text-light {
    color: #00C4EB !important;
    font-family: var(--font-text);
}

.text-lighter {
    color: #00C4EB !important;
    font-family: var(--font-text);
}

/* --- Navbar --- */
.navbar {
    box-shadow: 0 1px 10px rgb(202, 137, 15);
}

/* Footer */
.footer-link {
    font-size: 1em !important;
}

@media screen and (max-width: 700px) {
    .footer-link {
        font-size: 0.7em !important;
    }
}


/* --- Bootstrap --- */
.nav-link {
    color: var(--fg-primary);
    font-size: 1.3em;
    letter-spacing: .7mm;
    transition: 0.3s ease-in-out color;
}

.active {
    color: var(--fg-primary-dark) !important;
}

.nav-link:hover {
    color: var(--fg-primary-shade);
}

.card {
    background-color: rebeccapurple;
}

.btn {
    background-color: var(--fg-primary-dark);
    color:rgb(255, 255, 255)
}

.card-clickable {
    text-decoration: none;
    background-color: #f7cc3f;
    transition: 0.3s ease-in-out all;
}

.card-clickable:hover {
    background-color: var(--bg-primary3);
}