@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --bg-primary: #fad14b;
    --bg-primary2: #ffe5ad;
    --bg-primary3: #fcf2dc;
    --fg-primary: #2460e2;
}

/* --- Colors --- */
.color-primary-bg {
    background-color: var(--bg-primary);
}

.color-primary-fg {
    color: #729DFC !important;
}

body {
    overflow-x: hidden;
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    color: #01b19c;
}


.text-normal {
    color: #01a592 !important;
}

.text-light {
    color: #00C4EB !important;
}

.text-lighter {
    color: #00C4EB !important;
}

/* --- Navbar --- */


/* --- Bootstrap --- */
.nav-link {
    /*color: var(--fg-primary); */
    color: #296d65;
}

.card {
    background-color: rebeccapurple;
}

.card-clickable {
    text-decoration: none;
    background-color: #f7cc3f;
    transition: 0.3s ease-in-out all;
}

.card-clickable:hover {
    background-color: var(--bg-primary3);
}