.beer-card {
    display: inline-block;
    width: 400px;
    height: 300px;
    position: relative;
    /*background-color: #f3c632;*/
    background-color: #1ab99c;
    box-shadow: 0 10px 10px #cfa310;
    color: var(--fg-primary-dark);
    text-decoration: none;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out all;
}

.beer-card:hover {
    border: 2px solid  #22201f;
    color: var(--fg-primary-dark);
    transform: scale(1.05);
}

.beer-card img {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 120px;
}

.beer-side-panel {
    border-right: 1px solid rgb(226, 161, 21);
}

/* Single beer */
.beer-body {
}

.beer-image {
    max-height: 300px;
}

@media screen and (max-width: 1300px) {
    .beer-card {
        width: 250px;
    }
}

  @media screen and (max-width: 600px) {
    .beer-card {
        width: 300px;
    }
}