.news-card {
    background-color: var(--bg-primary-dark);
    box-shadow: 0 10px 10px #cfa310;
    color: var(--fg-primary-dark);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out all;
    border: 2px solid  transparent;
}

.news-card:hover {
    border: 2px solid  #22201f;
    color: var(--fg-primary-dark);
    transform: scale(1.05);
}

.news-body img {
    max-height: 100px;
}

#front-image {
}