{% extends 'base.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
{% endblock %}

<!-- Macros -->
{% macro render_beer(event) %}

{% set beer = event.event %}

<div class="news-beer">
    <h3>{{ beer.name }}</h3>
    <div class="news-body d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-between">
            <div>
                <p class="m-0">{{ beer.country }}</p>
                <p class="m-0">{{ beer.type }}</p>
                <p class="m-0">{{ beer.score }} / 10 öl</p>
            </div>
            <p class="m-0 fw-light">{{ event.added_date }}</p>
        </div>
        <div>
            <img class="img-fluid" src="{{ url_for('static', filename='images/beer.jpg') }}">
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_param(name, form_name, type='string', required=False) %}
<div class="mb-3">
    <label for="{{ name }}" class="form-label">
        {{ name | capitalize }}
        {% if required %}
            <span class="ps-3">(krävs)</span>
        {% endif %}
    </label>

    <input
        {% if type == 'string' %}
            type="text"
        {% elif type == 'int' %}
            type="number"  step="0.1"
        {% elif type == 'image' %}
            type="file"
        {% endif %}

        class="form-control"
        name="{{ form_name }}"
        id="{{ name }}"
        {% if required %} required {% endif %}
        >

</div>
{% endmacro %}

<!------>


<!-- Content -->
{% block content %}

<div class="row text-center mt-3">
    <h1>ADMIN</h1>
    <hr class="ms-5 me-5">
</div>

    <form class="w-50 m-auto font-text"  method="POST" action="{{ url_for('add_new_beer') }}" enctype="multipart/form-data">
        {{ render_param('Namn', 'name', required=True) }}
        {{ render_param('Land', 'country', required=True) }}
        {{ render_param('Typ', 'type', required=True) }}
        {{ render_param('Alkohol', 'alcohol', type='int', required=True) }}
        {{ render_param('Poäng', 'score', type='int', required=True) }}
        {{ render_param('Bild', 'image', type='image', required=True) }}
        {{ render_param('År', 'year', type='int') }}
        {{ render_param('Bryggeri', 'brewery') }}
        {{ render_param('Beskrivning', 'description') }}

        <div class="text-center m-5 font-main">
            <button type="submit" class="fs-2 p-3 btn btn-primary">Spara</button>
        </div>

    </form>


{% endblock %}

{% block js %}
    <script>
        const home = `${location.origin}/`
        logout();
        function logout() {
            let k = `log:out@${home}`
            console.log(k);
            //window.location = k;
        }
    </script>
{% endblock %}