{% extends 'base.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

<!-- Macros -->
{% macro render_beer(event) %}

{% set beer = event.event %}

<div class="news-beer">
    <h3 class="fs-2 fw-bold">{{ beer.name }}</h3>
    <div class="news-body d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-between">
            <div>
                <p class="fs-5 m-0">{{ beer.country }}</p>
                <p class="fs-5 m-0">{{ beer.type }}</p>
                <p class="fs-5 m-0">{{ beer.score }} / 10 öl</p>
            </div>
            <p class="m-0 fs-6 fw-light">{{ event.added_date }}</p>
        </div>
        <div>
            <img class="img-fluid" src="{{ url_for('static', filename='images/beer.jpg') }}">
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_post(event) %}
{% set post = event.event %}

<div class="news-post">
    <h3 class="fs-2 fw-bold">{{ post.title }}</h3>
    <div class="news-body d-flex justify-content-between">
        <div class="d-flex justify-content-between flex-column me-2">
            <div>
                <p class="m-0 fs-5 text-wrap">{{ post.excerpt }}</p>
            </div>
                <p class="m-0 fs-6 fw-light">{{ event.added_date }}</p>
        </div>
        <div>
            <img class="img-fluid" src="{{ url_for('static', filename='images/logo.png') }}">
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_event(event) %}
    <a class="news-card fg-primary font-text m-3 p-3 text-start" href="#">
        {% if event.event.__class__.__name__ == 'Beer' %}
            {{ render_beer(event) }}
        {% elif event.event.__class__.__name__ == 'BlogPost' %}
            {{ render_post(event) }}
        {% endif %}

        <hr class="mt-2 mb-2">
    </a>
{% endmacro %}
<!------>


<!-- Content -->
{% block content %}

<div class="d-flex flex-row justify-content-between mt-5">

    <div class="row">

        <div class="text-center offset-xl-1 col-xl-3 offset-2 col-8">
            <h2 class="fg-primary">Senaste nytt:</h2>

            <div class="d-flex flex-column justify-content-start">
                {% for event in new_events  %}
                    <!--<p>Lade till:</p> -->
                    {{ render_event(event) }}
                {% endfor %}
            </div>
        </div>

        <div class="offset-xl-1 col-xl-7 offset-2 col-8 mt-5">
            <img id="front-image" class="img-fluid" src="{{ url_for('static', filename='images/wine.jpg') }}">
        </div>

    </div>

</div>

{% endblock %}

{% block js %}
{% endblock %}